p{  background-color: aqua;
	color: red;}
span { background-color: purple;
       color: white; }

       .test{ background-color: purple;
       	color: red;}

       	#device{ background-color: yellow; color: gold; }